---
import "katex/dist/katex.min.css";
import "../style.css";
import Navbar from "../components/Navbar.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Astro Page</title>
    </head>
    <body>
        <div class="navbar-container">
            <Navbar />
        </div>
        <div class="page-title">{title}</div>
        <slot />
    </body>
</html>

<style>
    .navbar-container {
        /* TODO */
    }

    .page-title {
        font-size: 50px;
        font-weight: 600;
    }
</style>
