---
import "katex/dist/katex.min.css";
import "../style.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Astro Page</title>
    </head>
    <body>
        <slot />
    </body>
</html>
