/* Page titles */
.page-title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

/* Table styling */
table {
    border-collapse: collapse;
    margin: 20px 0;
}

table:has(th:empty) thead {
    display: none;
}

table th,
table td {
    border: 1px solid #333333;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
    color: #000000;
}

/* Format code blocks */
pre.astro-code {
    padding: 15px;
    border-radius: 10px;
}

/* Notion injects underlines as <span underline="true"> */
[underline="true"] {
    text-decoration: underline;
}
