---
import { type FigureAttrs, FIGURE_SLOTS } from "../../../exporter/src/markdown/components";

const { imgs } = Astro.props as FigureAttrs;
const [CONTENT_SLOT_NAME] = FIGURE_SLOTS;
---

<div class="figure">
    <div class="figure-imgs">
        {
            /* Insert all images */
            imgs.map((img) => <img src={img.url} alt={img.alt} />)
        }
    </div>
    <div class="figure-desc">
        <slot name={CONTENT_SLOT_NAME} />
    </div>
</div>

<style></style>
